/*@font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro-Regular.ttf);
}*/

.printbill .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.printbill a {
  color: #0087C3;
  text-decoration: none;
}

body.printbill {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #555555;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  /*font-family: SourceSansPro;*/
}

.printbill header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

.printbill #logo {
  float: left;
  margin-top: 8px;
}

.printbill #logo img {
  height: 70px;
}

.printbill #company {
  float: right;
  text-align: right;
}


.printbill #details {
  margin-bottom: 50px;
}

.printbill #client {
  padding-left: 6px;
  border-left: 6px solid #0087C3;
  float: left;
}

.printbill #client .to {
  color: #777777;
}

.printbill h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

.printbill #invoice {
  float: right;
  text-align: right;
}

.printbill #invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

.printbill #invoice .date {
  font-size: 1.1em;
  color: #777777;
}

.printbill table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.printbill table th,
.printbill table td {
  padding: 20px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

.printbill table th {
  white-space: nowrap;        
  font-weight: normal;
}

.printbill table td {
  text-align: right;
}

.printbill table td h3{
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

.printbill table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

.printbill table .desc {
  text-align: left;
}

.printbill table .unit {
  background: #DDDDDD;
}

.printbill table .qty {
}

.printbill table .total {
  background: #57B223;
  color: #FFFFFF;
}

.printbill table td.unit,
.printbill table td.qty,
.printbill table td.total {
  font-size: 1.2em;
}

.printbill table tbody tr:last-child td {
  border: none;
}

.printbill table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
}

.printbill table tfoot tr:first-child td {
  border-top: none; 
}

.printbill table tfoot tr:last-child td {
  color: #57B223;
  font-size: 1.4em;
  border-top: 1px solid #57B223; 

}

.printbill table tfoot tr td:first-child {
  border: none;
}

.printbill #thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

.printbill #notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;  
}

.printbill #notices .notice {
  font-size: 1.2em;
}

.printbill footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}

