<template name="billing">
  <h1 class="page-header"><i class="fa fa-file-text"></i> Billing</h1>
  {{>billing_infos}}
</template>

<template name="billing_infos">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th>#id</th> -->
          <th>Company</th>
          <th>Salary</th>
          <th>Fee</th>
          <th>Turnover</th>
          <th>Deal date</th>
          <th>Starting date</th>
          <th>Billing date</th>
          <th>Paiement date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {{#each data}}
        <tr>
          <!-- <td>{{_id}}</td> -->
          <td>{{company}}</td>
          <td>{{deal.salary}} €</td>
          <td>{{deal.fee}} %</td>
          <td>turnover €</td>
          <td>{{deal.date}}</td> 
          <td>{{deal.startingDate}}</td> 
          <td>{{deal.startingDate}}</td> 
          <td>Paiement</td> 
          <td>
            <button id="bill-to-pdf" type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#bill-print"><i class="fa fa-print"></i></button>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bill-edit"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#bill-remove"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>